body {
    text-align: center;
    margin: 0;
    font-family: 'merriweather' ,serif;
}
h1 {
    color: #1D5B79;
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
    margin-top: 70px ;

}

hr {
    border-style: dotted dotted none dotted;
    width: 5%;
    border-width: 5px;
    margin: 100px auto;
}


h2 {
    color: #1D5B79;
    font-family: 'Sacramento', cursive;
    font-size: 2.5rem;
}
h3 {
    font-family: 'merriweather' ,serif;
}
.upper-container {
    background-color: #B4E4FF; 
}

.uppercloud2 {
    position: absolute;
    top: 400px;
    left: 200px;
    background-color: #B4E4FF;
    width: 200px;
}

.uppercloud1 {
    width: 200px;
    position: absolute;
    right: 170px;
    top: 250px;
}

.name {
    padding: 70px;
}
.mountain {
    background-color: #B4E4FF;
    width: 70%;
    margin-top: 90px;
}
.skill1pic {
    width: 30%;
    float: left;
    padding-right: 30px;
}

.middle-container {
    background-color: #FEFAE0;
}
.skill2pic {
    width: 30%;
    float: right;
    padding-left: 30px;
    
}
.skill-row {
    width: 50%;
    margin: 200px auto;
    text-align: left;
}
.skills{
    height: 900px;
}
.profile {
    height: 800px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 16px;
    padding: 11px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .bottom-container {
    background-color:#B4E4FF;
    height: 300px;

  }
  .margin {
    margin: 0 auto
    
  }

  .footer-link{
    margin: 50px 0 ;
  }
  .contact-me {
    height: 350px;
  }
  .contact-me1 {
    padding-bottom: 50px;
  }

  .profilephoto {
    width: 250px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .contact-me2 {
    padding-top: 50px;
  }
.footer-link {
    text-decoration: none;

    padding: 0 20px;
    display: inline-block;

}
.footer-link:hover {
      color: #FEFAE0;
}

.Digi {
    margin-top: 100px;
}
